<div class="game-search">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch();">
        <label for="query">Find game</label>
        <input id="query" formControlName="query" type="text" placeholder="Game title">
        <button type="submit" [disabled]="loading">Search</button>
    </form>

    @if (loading) {
    <div>Loading...</div>
    }
    @if (error) {
    <div class="error">{{ error }}</div>
    }
    @if (!results && !loading ){
    <div>Could not find any results</div>
    }
</div>
<app-search-results [games]="games"></app-search-results>
